# lab12

In [1]:
import pandas as pd

df = pd.read_excel('s3://connor-hicks-241-2023/house_price.xls')

df.head()

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [2]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 4.7 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [3]:
import pandas as pd

df = pd.read_excel('s3://connor-hicks-241-2023/house_price.xls')

df.head()

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709

## 3.1

In [10]:
df['UNIT_PRICE'] = df['price'] / df['area']
df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,UNIT_PRICE
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222

## 3.2

In [12]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

## 3.3

In [18]:
print('the average price is ${:,g}'.format(df.loc[df['bathroom'] > 2]['price'].mean()))

the average price is $383,645

## 3.4

In [22]:
print('mean price is ${:,g}'.format(df['UNIT_PRICE'].mean()))

mean price is $167.459

In [21]:
print('median price is ${:,g}'.format(df['UNIT_PRICE'].median()))

median price is $130.134

## 3.5

In [24]:
df.groupby('house_type').mean()['UNIT_PRICE']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: UNIT_PRICE, dtype: float64

## 3.6

In [25]:
from scipy import stats

In [26]:
model = stats.linregress(df['area'],df['price'])

In [28]:
print('slope is {:2f}'.format(model.slope))
print('intercept is {:2f}'.format(model.intercept))
print('p value is {:2f}'.format(model.pvalue))
print('r squared is {:2f}'.format(model.rvalue ** 2))

slope is 79.954957
intercept is 156254.762451
p value is 0.001340
r squared is 0.234390

## 3.7

In [29]:
print('2,000 sqft house is ${:,g}'.format(2000 * model.slope + model.intercept))

2,000 sqft house is $316,165